body{
    background: lavender;
}

h1{
    color: purple;
    font-size: 40px;
}

h2{
    color: midnightblue;
}

.docente{
    font-size: 25px;
}
/*tamaño de temas temario*/
ol{
    font-size: 20px;
}

/*table{
    background-color: pink;
}*/
th{
    background-color: cyan;
    font-size: 18px;
}
td{
    background-color: lightpink;
}

h3{
    color: red;
    font-size: 20px;
}
.enlaces{
    font-size: 18px;
}
a[href="http://187.210.94.4/sistema/"]{
    color:crimson;
}